<mat-tab-group [selectedIndex]="selected.value">
    <mat-tab label="Financial Portfolio">
        <mat-card>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <mat-form-field appearance="standard">
                    <mat-label>Report Type</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let type of types" [value]="type.value">
                            {{ type.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Country</mat-label>
                    <mat-select multiple>
                        <mat-option *ngFor="let country of countries" [value]="country.value">
                            {{ country.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Product</mat-label>
                    <mat-select multiple>
                        <mat-option *ngFor="let product of products" [value]="product.value">
                            {{ product.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Parameter</mat-label>
                    <mat-select multiple>
                        <mat-option *ngFor="let parameter of parameters" [value]="parameter.value">
                            {{ parameter.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>Platform</mat-label>
                    <mat-select multiple>
                        <mat-option *ngFor="let platform of platforms" [value]="platform.value">
                            {{ platform.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card>
        <mat-card></mat-card>
    </mat-tab>
</mat-tab-group>