<mat-tab-group [selectedIndex]='selected.value'>
    <mat-tab label='Financial Portfolio'>
        <div fxFlex fxLayout="column">
            <mat-card class='mat-card-big' fxFlex>
                <div fxLayout='row' fxLayoutAlign='space-around center'>
                    <mat-form-field appearance='standard'>
                        <mat-label>Report Type</mat-label>
                        <mat-select [(ngModel)]='selectedType'>
                            <mat-option *ngFor='let type of types' [value]='type.value'>
                                {{ type.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance='standard'>
                        <mat-label>Country</mat-label>
                        <mat-select multiple [(value)]='selectedCountries'>
                            <mat-option *ngFor='let country of countries' [value]='country.value'>
                                {{ country.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance='standard'>
                        <mat-label>Product</mat-label>
                        <mat-select multiple [(value)]='selectedProducts'>
                            <mat-option *ngFor='let product of products' [value]='product.value'>
                                {{ product.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance='standard'>
                        <mat-label>Platform</mat-label>
                        <mat-select multiple [(value)]='selectedPlatforms'>
                            <mat-option *ngFor='let platform of platforms' [value]='platform.value'>
                                {{ platform.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-stroked-button class='launchButton' (click)='launch()'>Calculate</button>
                </div>
            </mat-card>
            <mat-card class='mat-card-big' fxFlex>
                <ag-grid-angular class="ag-theme-alpine financials-grid" [gridOptions]="financialsGridOptions">
                </ag-grid-angular>
            </mat-card>
            <mat-card class='mat-card-big' *ngIf='!isDataLaunching && financialsData && selectedType && selectedType!=="day"' fxFlex>
                <div>
                    <canvas baseChart class='financialsBarChart' [datasets]='barChartDataYearFinChart' [labels]='barChartLabelsYearFinChart' [options]='barChartOptionsYearFinChart' [plugins]='barChartPluginsYearFinChart' [legend]='barChartLegendYearFinChart' [chartType]='barChartTypeYearFinChart'
                        [colors]='barChartColorsYearFinChart'>
                      </canvas>
                </div>
            </mat-card>
            <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="!isDataLaunching">
                <div fxFlex>
                    <mat-card class='mat-card-medium productsDoghnutsChart' *ngIf='productsAnalyticsData' fxFlex>
                        <canvas fxFlex baseChart [data]="doughnutChartDataProductAnalytics" [labels]="doughnutChartLabelsProductAnalytics" [options]='doughnutChartOptionsProductsAnalytics' [chartType]="doughnutChartTypeProductAnalytics" [colors]='doughnutChartColorsProductAnalytics'>
                        </canvas>
                    </mat-card>
                </div>
                <div fxFlex>
                    <mat-card class='mat-card-medium countriesDoghnutsChart' *ngIf='countriesAnalyticsData' fxFlex>
                        <div fxFlex>
                            <canvas fxFlex baseChart [data]="doughnutChartDataCountriesAnalytics" [labels]="doughnutChartLabelsCountriesAnalytics" [options]='doughnutChartOptionsCountriesAnalytics' [chartType]="doughnutChartTypeCountriesAnalytics" [colors]='doughnutChartColorsCountriesAnalytics'>
                            </canvas>
                        </div>
                    </mat-card>
                </div>
                <div fxFlex>
                    <mat-card class='mat-card-medium sportBettingDoghnutsChart' *ngIf='sportBettingAnalyticsData' fxFlex>
                        <div fxFlex>
                            <canvas fxFlex baseChart [data]="doughnutChartDataSportBettingAnalytics" [labels]="doughnutChartLabelsSportBettingAnalytics" [options]='doughnutChartOptionsSportBettingAnalytics' [chartType]="doughnutChartTypeSportBettingAnalytics" [colors]='doughnutChartColorsSportBettingAnalytics'>
                            </canvas>
                        </div>
                    </mat-card>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="!isDataLaunching">
                <mat-card class='mat-card-legend' *ngIf='financialsData && selectedType && selectedType!=="day"' fxFlex>
                    <div>
                        <img src="../../assets/img/legend.PNG" alt="Legend" class="img-center">
                    </div>
                </mat-card>
                <mat-card class='mat-card-legend' *ngIf='financialsData && selectedType && selectedType!=="day"' fxFlex>
                    <div>
                        <img src="../../assets/img/legend.PNG" alt="Legend" class="img-center">
                    </div>
                </mat-card>
                <mat-card class='mat-card-legend' *ngIf='financialsData && selectedType && selectedType!=="day"' fxFlex>
                    <div>
                        <img src="../../assets/img/legend.PNG" alt="Legend" class="img-center">
                    </div>
                </mat-card>
            </div>
            <mat-card class='mat-card-pr' *ngIf='!isDataLaunching && prAnalyticsData && selectedType && selectedType!=="day"' fxFlex>
                <div>
                    <canvas baseChart class='sportBettingChart' [datasets]="lineChartDataPrAnalytics" [labels]="lineChartLabelsPrAnalytics" [options]="lineChartOptionsPrAnalytics" [colors]="lineChartColorsPrAnalytics" [legend]="lineChartLegendPrAnalytics" [chartType]="lineChartTypePrAnalytics"
                        [plugins]="lineChartPluginsPrAnalytics">
                    </canvas>
                </div>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>
<div *ngIf="isDataLaunching" class="screen-over" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner mode="indeterminate" [diameter]="50" value="value" aria-label="Rating"></mat-spinner>
    <h3 fxFlex="nogrow" fxLayoutAlign="center center">Calculating...</h3>
</div>