<mat-toolbar class="header-toolbar">
    <mat-toolbar-row>
        <button mat-icon-button class="menu-button" style="margin: 0 0 0 0 ;">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <p>{{ title }}</p>
        <span class="menu-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list>
            <div *ngFor="let item of sidenavItems">
                <a mat-list-item routerLink="{{item.route}}">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <span>{{item.name}}</span>
                </a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="router-outlet-class">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>