/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css"
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss"
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss"

.ag-theme-alpine
    @include ag-theme-alpine()

.ag-row-hover
    background-color: #f4ecdc !important

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled)
  color: #00565b

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate
  background: #00565b

.mat-form-field.mat-focused .mat-form-field-label
  color: #00565b

.mat-tab-label-container
  background-color: #ffffff

.mat-tab-body-wrapper
  background-color: #efefef

.mat-progress-spinner circle,
.mat-spinner circle
    stroke: #00565b

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar
  background-color: #00565b
