// .mat-tab-group {
//     margin-bottom: 48px;
// }
.mat-card {
    margin: 15px;
    padding: 15px;
    background-color: white;
}

// .mat-tab-list {
//     background-color: red;
// }
.launchButton {
    margin-top: 20px;
    background-color: #00565B;
    color: white;
    width: 120px;
}

.resetButton {
    margin-top: 20px;
    background-color: #00565B;
    color: white;
}

.buttons {
    margin-top: 20px;
}

.matCardFilters {
    width: 100;
    height: 450px;
    margin: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.matCardResults {
    width: 100;
    height: 450px;
    margin: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.title {
    margin-bottom: 55px;
    color: #00565B;
}

.mat-form-field {
    width: 250px;
}

.segmentation-grid {
    width: 100;
    height: 380px;
    // margin: 15px;
}

.screen-over {
    position: absolute;
    top: 47px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000 !important;
    background-color: transparentize($color: #ffffff, $amount: 0.2);
    font-family: Arial, Helvetica, sans-serif;
    // font-size: 40px;
    font-weight: bold;
}

.downloadButton {
    // background-color: #00565B;
    color: #00565B;
    height: 40px !important;
    width: 20px !important;
    margin-right: 3px;
}

.top-button {
    // background-color: #00565B;
    color: #00565B;
    height: 40px !important;
    width: 20px !important;
    margin-right: 15px;
}

.caption {
    color: #00565B;
    font-weight: bold;
    margin-left: 20px;
}

.header {
    margin-top: 1px;
}

.averagePr {
    color: #00565B;
    margin-right: 20px;
}

.button:hover {
    background-color: #00565B !important;
}